@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@font-face{

    font-family: 'The Historia demo';
    src: url(../TheHistoriaDemo1.ttf);
    font-style: normal;
}
html {
  scroll-behavior: smooth;
}
:root {
    --primaryColor: #70448a;
    --mainWhite: #fff;
    --mainBlack: rgb(48, 0, 66);
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: var(--mainBlack);
    width: 100%;
    height: 100%;
    background: url("images/sitebg.png") no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
  }
  body::-webkit-scrollbar {
    width: .5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: .8rem;
    background: #562974;
  }
  /* Start Preloder */
  #loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 50;
    overflow: visible;
    background: #f1f2f3 url('images/loder.gif') no-repeat center center;
  }
/*End Preloader*/

  .navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 0.5px solid #562974;
    z-index: 1;
  }
  .logo {
      width: 300px;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    color: #471469;
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  .hero {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background-color: #fff;
    width: 40%;
    display: inline-block;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    color: #39025886;
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  .banner-info {
    font-family: "Indie Flower";
    color: rgb(64, 2, 87);
    font-size: 1.5rem;
    margin: 15px auto;
    margin-bottom: 2rem;
    letter-spacing: var(--mainSpacing);
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    color: #fff;
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  .products {
    background-color: #fff;
  }
  .project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .img-container {
    position: relative;
    overflow: hidden;
    flex: 1;
  }
  .img-container img {
    width: 1100px;
    user-select: none;
  }
  .bag-btn {
    position: absolute;
    top: 40%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    font-size: 1.3rem;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .project-discription {
    margin-left: 1rem;
    margin-right: 2rem;
    color: rgb(52, 5, 70);
    flex: 1;
  }
  .project-discription h3 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
    color: rgba(60, 13, 77, 0.541);
    text-transform: uppercase;
    user-select: none;
  }
  .project-discription p {
    font-size: 1.5rem;
    text-align: justify;
    user-select: none;
    padding-right:100px ;
    font-family: "Indie Flower";
  }
  .project-discription h4 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
  }
  .right {
    text-align: right;
  }
  .right p {
    text-align: justify;
    padding-right:2px;
    padding-left:100px;
  }
  .rightbag {
    left:0;
    transform: translateX(-101%);
  }
  .copyright{
    width: 100%;
    height: 5vh;
    text-align: center;
    background-color: #3c1e50;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    color: #eee;
}

  @media screen and (max-width: 400px) {
    .logo {
      width: 200px;
    }
    .banner {
      width: 90%;
    }
    .banner-title {
      font-size: 2rem;
    }
    .banner-info {
      width: 80%;
      font-size: .8rem;
    }
    .section-title {
      text-align: center;
      font-size: 1.7rem;
    }
    .project {
      flex-direction: column;
    }
    .img-container {
      margin: 0 0 0.5rem 0;
      order: 1;
    }
    .img-container img {
      width: 370px;
    }
    .project-discription {
      margin: 0;
      order: 2;
      text-align: center;
    }
    .project-discription h3 {
      font-size: 2rem;
    }
    .project-discription p {
      text-align: center;
      font-size: 1rem;
      padding: 0;
    }
    .project-discription h4 {
      font-size: 1.2rem;
    }
    .bag-btn {
      font-size: 0.7rem;
    }
  }
  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(255, 255, 255, 0.596);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    font-family: "Roboto" sans-serif;
    width: 100%;
    height: 100%;
    border-left: 1px solid #562974;
    overflow-x: hidden;
    z-index: 3;
    background: #fff;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .cart::-webkit-scrollbar { 
    display: none; 
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    color: #562974;
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    color: #562974;
    font-family: "Roboto" sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    color: #562974;
  }
  .cart-item img {
    width: 150px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  .check-out {
    padding: 1rem 3.2rem;
    margin-top: 6px;
  }
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    color: #562974;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .modalAdd {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ebf0f154;
}
  .modal-content-add{
    background-color: #fff;
    margin: 10% auto;
    color: #562974;
    height: 50%;
    width: 50%;
    border: 2px solid #562974;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration:1.5s;

  }
  .modal-header h2, .modal-footer h3{
    margin: 0;
  }
  .modal-header {
      padding: 15px;
  }
  .modal-body {
      padding: 10px 20px;
  }
  .modal-footer {
      padding: 10px;
      text-align: center;
  }


  .closeBtn {
      color: #562974;
      float: right;
      font-size: 40px;
  }

  .closeBtn:hover, .closeBtn:focus {
      color: #bc75eb;
      text-decoration: none;
      cursor: pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  #post:hover {
    background-color: #562974;
    color: #fff;
  }
  @media screen and (max-width: 400px) {
    .cart {
      width: 100vw;
      overflow-x: hidden;
    }
    .cart-item img {
      width: 90px;
    }
    .cart h2 {
      text-align: center;
      font-size: 20px;
    }
    .close-cart {
      font-size: 20px;
    }
    .modal-content-add {
      margin-top: 15vh;
      width: 95%;
      height: 70%;
    }
    
  }
