@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.caption {
  position: absolute;
  top: 38%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  color: antiquewhite;
}
.caption h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.btn-lg {
  color: antiquewhite;
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
}
.btn-lg:hover {
  background: #86c232;
  transition: all 0.5s ease-out;
  opacity: 0.9;
}

.icons {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.5rem gray;
  padding-bottom: 1.6rem;
  margin-top: 1rem;
  z-index: 2;
}
.icons a {
  text-decoration: none;
  color: antiquewhite;
  padding: 0.4rem;
}
.icons a:hover {
  color: #86c232;
  transition: all 0.5s ease-out;
}

#main-footer {
  text-align: left;
  padding: 1rem;
  background: #0b0c0d;
  color: #fff;
  height: 60px;
  width: 100vw;
}

.icons-footer {
  margin: 0.5rem;
  z-index: 2;
  text-align: right;
}
.icons-footer a {
  text-decoration: none;
  color: antiquewhite;
  padding: 0.2rem;
}
.icons-footer a:hover {
  color: #86c232;
  transition: all 0.5s ease-out;
}

@media (max-width: 760px) {
  .caption h1 {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
  .icons {
    font-size: 1rem;
    padding-bottom: 1.6rem;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
